$width: 600px;

#tickets-page {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }

  .button-controls {
    padding: 10px;
    button {
      margin-right: 10px;
    }
  }

  .content {
    padding: 20px 10px 0 10px;
    border-left: 1px solid lightgray;
    textarea {
      width: $width + 40px;
    }
    .bp3-form-content {
      padding: 0 10px 0 10px;
      .top-row {
        margin-bottom: 10px;
        button {
          margin-right: 10px;
        }
      }
      .bp3-input-group {
        padding-bottom: 10px
      }
    }
  }
}

.removable-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  div {
    margin-left: 10px;
    width: $width;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding: 20px 10px;
  div {
    padding: 5px 5px;
  }
}
